.article {
    @apply  p-4
    my-3
    hover:cursor-pointer 
    hover:bg-gray-400  
    sm:hover:bg-opacity-50
    font-Montserrat
    text-white
    text-xl
    sm:ease-out
    sm:duration-300
    active:bg-gray-400
    active:bg-opacity-50
}